<!doctype HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CWC SMS Admin Portal</title>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
              crossorigin="anonymous">
        <style>
            body {
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 10px;
                background-color: #EFEFEF;
            }
            div.two-col {
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }
            div.short {
                min-height: 30%;
                max-height: 100%;
            }
            select[multiple] {
                width: 100%;
            }
            form {
                display: inline-block;
                padding: 5px;
                margin: 5px;
                width: 100%;
            }
            dt {
                margin-top: 8px;
            }
        </style>
    </head>
    <body>
        <p class="{{ messageclass }} lead">
            {{ message }}
        </p>
        <p>
        When entering phone numbers on this page, you must enter the entire thing,
        including the country code and a plus (+) to indicate an
        <a target="_blank" href="https://en.wikipedia.org/wiki/Trunk_prefix">International Call
        Prefix</a>. In the United States, the country code is simply "1". So the classic
        example number would be: <b>+15558675309</b>.
        </p>
        <div class="two-col short">
            <div>
                <b>Clients</b>
                <select multiple>
                    {% for client in clients %}
                        <option>{{ client.name }} ({{ client.phone }})</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <b>Coaches</b>
                <select multiple>
                    {% for coach in coaches %}
                        <option>{{ coach }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <form action="{{ secret }}" method="post">
                        <h3>Add Client</h3>
                        <p>
                        When a client is added, they'll receive a text letting them know that they've
                        been added to the system and how to interact with it.
                        <dl>
                            <dt>Client Name</dt>
                            <dd><input type="text" name="clientname"></dd>
                            <dt>Client Phone Number</dt>
                            <dd><input type="tel" name="clientphone"></dd>
                            <dt>Client Language</dt>
                            <dd>
                                <select name="clientlang">
                                    {% for lang in languages %}
                                        <option value="{{ lang.id }}">{{ lang.name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Coach Name</dt>
                            <dd><input type="text" name="coachname"></dd>
                        </dl>
                        <input type="hidden" name="action" value="add_client">
                        <input type="submit" value="Add Client">
                    </form>
                </div>
                <div class="col-xs-12 col-md-4">
                    <form action="{{ secret }}" method="post">
                        <h3>Reassign Client</h3>
                        <p>
                        When a client is reassigned, they'll receive a text letting them know
                        the name of their new coach.
                        </p>
                        <dl>
                            <dt>Client Name</dt>
                            <dd><input type="text" name="clientname"></dd>
                            <dt>New Coach Name</dt>
                            <dd><input type="text" name="coachname"></dd>
                        </dl>
                        <input type="hidden" name="action" value="reassign_client">
                        <input type="submit" value="Reassign Client">
                    </form>
                </div>
                <div class="col-xs-12 col-md-4">
                    <form action="{{ secret }}" method="post">
                        <h3>Remove Client</h3>
                        <p>
                        Please note that this will immediately remove the client from the texting
                        system! They will no longer receive reminders or be able to reschedule
                        meetings. Because of this, you must enter both their name and phone number
                        correctly to remove them.
                        </p>
                        <dl>
                            <dt>Client Name</dt>
                            <dd><input type="text" name="clientname"></dd>
                            <dt>Client Phone Number</dt>
                            <dd><input type="tel" name="clientphone"></dd>
                        </dl>
                        <input type="hidden" name="action" value="remove_client">
                        <input type="submit" value="Remove Client">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <form action="{{ secret }}" method="post">
                        <h3>Add Coach</h3>
                        <p>
                        The Coach's Calendar URL is the URL of a calendar file which
                        we can use to determine the appointment slots they have available.
                        <dl>
                            <dt>Coach Name</dt>
                            <dd><input type="text" name="coachname"></dd>
                            <dt>Coach Calendar URL</dt>
                            <dd><input type="text" name="coachurl"></dd>
                            <dt>Coach Email</dt>
                            <dd><input type="text" name="coachemail"></dd>
                        </dl>
                        <input type="hidden" name="action" value="add_coach">
                        <input type="submit" value="Add Coach">
                    </form>
                </div>
                <div class="col-xs-12 col-md-6">
                    <form action="{{ secret }}" method="post">
                        <h3>Remove Coach</h3>
                        <p>
                        Please note that you can not remove a coach who has clients. Reassign
                        all clients to different coaches before removing a coach.
                        </p>
                        <dl>
                            <dt>Coach Name</dt>
                            <dd><input type="text" name="coachname"></dd>
                        </dl>
                        <input type="hidden" name="action" value="remove_coach">
                        <input type="submit" value="Remove Coach">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
