<!doctype HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CWC SMS Admin Portal - Client Info</title>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
              crossorigin="anonymous">
        <style>
            body {
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 10px;
                background-color: #EFEFEF;
            }
            div.two-col {
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }
            div.short {
                min-height: 30%;
                max-height: 100%;
            }
            select[multiple] {
                width: 100%;
            }
            form {
                display: inline-block;
                padding: 5px;
                margin: 5px;
                width: 100%;
            }
            dt {
                margin-top: 8px;
            }
        </style>
    </head>
    <body>
        <p class="{{ messageclass }} lead">
            {{ message }}
        </p>
        {% if client == None %}
        <p>
            Could not find that client in the database.
        </p>
        {% else %}
        <p>
            Client name: {{ client.name }}
        </p>
        <p>
            Client phone number: {{ client.phone_number }}
        </p>
        <!-- TODO: handle appointment_passed -->
        <p>
            Client rescheduling status: {{ reschedule_states[client.reschedule_state] }}
        </p>
        {% if needs_coach_confirmation %}
        <p>
            {{ client.name }} wants to reschedule their appointment from {{ old_time }} to
            {{ new_time }}. Is this OK? If you approve, make sure to update your calendar!
        </p>
        <p>
            <form action="{{ secret }}/clients/{{ client.id }}" method="post">
                <dl>
                    <dd>
                        <select name="confirm">
                            <option value="approve">Approve</option>
                            <option value="reject">Reject</option>
                        </select>
                    </dd>
                </dl>
                <input type="submit" value="Update">
            </form>
        </p>
        {% endif %}
        {% endif %}
    </body>
</html>
